
@media all and (min-width:1680px){
	.full-waypper-area-about::after {
		width: 1007px;
		height: 953px;
	}
	.hero_content_area.hero_content_area_contact {
		padding-bottom: 101px;
	}
	/* .hero_content{
		padding-left: 5em;
		padding-right: 5em;
	} */
}

@media all and (max-width:1245px){
		.menu_area ul li a {
		font-size: 19px;
		margin-left: 24px;
	}
	/* .hero_content{
		padding-left: 5em;
		padding-right: 5em;
	} */
}


@media all and (max-width:1199px){
	.menu_area ul li a {
		font-size: 17px;
		margin-left: 19px;
	}
	.logo a {
		width: 150px;
	}
	.hero_content_area {
		padding-bottom: 126px;
	}
	.hero_image {
		margin-top: 0;
	}
	.hero_content h2 br {
		display: none;
	}
	.hero_content h2 {
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 15px;
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.full-waypper-area-about {
		background-size: 100%;
	}
	.full-waypper-area-about::after {
		width: 718px;
		height: 684px;
	}
	.header_area > .container-fluid {
		padding: 0px 81px;
	}
	.full-waypper-area-about.full-waypper-area-home {
		background-size: 100%;
	}
	.hero_content_home h1 {
	    font-size: 40px;
	}
	.hero_content_product .hero_content_home {
		padding-top: 205px;
	}
	.product_singel_item h4 {
		font-size: 30px;
		line-height: 1.2;
	}
	.lock_tala_secion_area {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.link_button a {
		width: 100%;
	}
	/* .hero_content{
		padding-left: 5em;
		padding-right: 5em;
	} */
}

@media all and (min-width:992px){
	.menu_area ul {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	/* .hero_content{
		padding-left: 5em;
		padding-right: 5em;
	} */
}

@media all and (max-width:991px){
	.menu_area ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
		position: absolute;
		width: 100%;
		background: #069ABD;
		z-index: 2;
		display: none;
		padding: 10px 0px;
	}
	.nav-bars {
	  display: block !important;
	}
	/* .hero_content{
		padding-left: 5em;
		padding-right: 5em;
	} */
	.hero_content_text {
		position: inherit;
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.nav-bars {
		width: 28px !important;
	}
	.menu_area ul li a {
		font-size: 18px;
		margin: 10px 0px;
	}
	.hero_content_area {
		padding-bottom: 50px;
	}
	.hero_image {
		text-align: center;
	}
	/* .hero_image img{
		width: 80%;
	} */

	.footer_social {
		text-align: center;
		margin-bottom: 25px;
	}
	.footer_social ul {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.footer_area {
		padding-bottom: 21px;
	}
	.footer_we_accept {
		float: inherit;
	}
	/* .footer_social ul li a {
		color: #551598;
	} */
	
	/* .footer_social > p {
		color: #551598;
	} */
	.hero_content_home h1 br {
	    display: none;
	}
	.hero_content_home h1 {
	    font-size: 30px;
	}
	.hero_content_home {
	    padding-top: 75px;
	    padding-bottom: 50px;
	}
	.title_hero h3 {
	    font-size: 27px;
	}
	.servier_hero_item {
	    padding-top: 40px;
	}
	.hero_home_content {
	    padding-top: 40px;
	}
	.hero_content_product .hero_content_home {
		padding-top: 70px;
	}

	.product_singel_image {
		text-align: center;
		max-width: 450px;
		margin: auto;
	}
	.product_singel_image img{
		width: 100%;
	}
	.mb_40{
		margin-bottom: 40px;
	}
	.c_info {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.hero_content.make_contact_c h1 {
	    font-size: 30px;
	}
	.login_and_signup_area {
		padding-top: 30px;
		padding-bottom: 13px;
	}
	.or_text {
		margin: 30px 0px;
	}

	.logo-icons{
		display: flex;
		justify-content: space-around;
	}
}

@media all and (max-width:768px){
	.hero_image{
		height: 550px;
	}
	.hero-img1{
		position: absolute;
		width: 45%;
		/* height: 250px; */
		z-index: 1;
		top: 70px;
	  }
	.hero-img2{
		position: absolute;
		width: 45%;
		/* height: 250px; */
		z-index: 1;
		left:205px
	  }
	.hero-img3{
		position: absolute;
		width: 40%;
		/* height: 250px; */
		z-index: 1;
		right: 0px;
		top: 120px;
	  }
	.hero-img4{
		position: absolute;
		width: 60%;
		/* height: 250px; */
		z-index: 1;
		top: 325px;
		left: 165px;
	  }
	  .work_seaction_content{
		  justify-content: left;
	  }
	  .work_seaction_content p{
		  margin: 0px;
	  }
	  .footer-logo{
		  text-align: center;
	  }
}
@media all and (max-width:767px){
	.welcome_image img {
		width: 92%;
	}
	.contact_image img {
		width: 90%;
	}
	.full-waypper-area-about::after {
		width: 562px;
		height: 532px;
	}
	.header_area > .container-fluid {
		padding: 0px 58px;
	}
	.single_item {
	    -webkit-box-flex: 0;
	        -ms-flex: 0 0 33%;
	            flex: 0 0 33%;
	    max-width: 33%;
	    text-align: center;
	}
	.hero-img1{
		position: absolute;
		width: 45%;
		/* height: 250px; */
		z-index: 1;
		top: 70px;
	  }
	.hero-img2{
		position: absolute;
		width: 45%;
		/* height: 250px; */
		z-index: 1;
		top: 20px;
		left:115px
	  }
	.hero-img3{
		position: absolute;
		width: 40%;
		/* height: 250px; */
		z-index: 1;
		right: 0px;
		top: 70px;
	  }
	.hero-img4{
		position: absolute;
		width: 65%;
		/* height: 250px; */
		z-index: 1;
		top: 220px;
		left: 65px;
	  }
	  .work_seaction_content{
		  justify-content: left;
	  }
	  .work_seaction_content p{
		  margin: 0px;
	  }
	  .footer-logo{
		  text-align: center;
	  }
}
/* @media screen and (min-width:767px){
	.hero_content_home{
		padding: 10px;
	}
} */

@media all and (max-width:575px){

	.full-waypper-area-about::after {
		width: 495px;
		height: 471px;
	}
	.header_area {
		padding-top: 20px;
		padding-bottom: 26px;
	}
	.header_area > .container-fluid {
		padding: 0px 43px;
	}
	.footer_area > .container-fluid {
		padding: 0px 20px;
	}
	.footer_area::after {
		width: 548px;
		height: 101px;
	}
	.menu_area ul li a {
		font-size: 17px;
		margin: 7px 0px;
	}
	.hero_content_home {
	    padding:10px
	}
	.hero_content_home h1 {
	    font-size: 28px;
	    line-height: 1.3;
	}
	.title_hero h3 {
	    font-size: 20px;
	    line-height: 1.3;
	    padding-top: 10px;
	}
	.hero_content h1 {
		line-height: 41px;	
	}
	.hero_content_text.hero_content_text_book {
		padding-top: 0px;
	}
	.hero_title h1{
		font-size: 70px;
	}
}



